<div class="header">
  <span class="quiz-info">
    <span>QU</span><span>IZ</span> <span>ID -</span> <span><%= @quiz_id %></span>
    <% @time = Time.now.in_time_zone('Australia/Sydney') %>
    <span><%= @time.strftime("%^A,") %></span>
    <span><%= @time.strftime("%d") %></span><span><%= @time.strftime("/%m") %></span><span><%= @time.strftime("/%Y") %></span>
  </span>
</div>

<div class="questions-section summer">
  <% @questions.each do |q| %>
    <div class="question summer">
      <%= q[0] %> <%= q[1] %> <%= q[2] %> =
      <% if params[:a] %>
        <span class="answer"><%= q[3] %></span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="copyright">Designed & Engineered by Nolan & Ren</div>