@model math_quiz_web_aspnet.Models.Quiz
@{
    var emojis = math_quiz_web_aspnet.Controllers.QuizController.GenerateEmojis();
}

<div class="header">
  <span>QUIZ ID - @Model.Id</span>
  <span class="date"></span>
  <span>@emojis</span>
</div>

<script>
    const DAYS = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    let date = new Date();
    document.querySelector('.date').innerText = `${DAYS[date.getDay()]} ${date.toLocaleDateString()} ${date.toLocaleTimeString()}`;
</script>

@foreach (var section in Model.Sections) {
    <div class="questions-section">
        @foreach (var q in section.Questions) {
            <div class="question">
                @q.A @q.Operation @q.B =
                @if (ViewData["showAnswer"] != null) {
                    <span class="answer">@q.Answer</span>
                }
            </div>
        }
    </div>
}
