<div class="home">
  <div class="section">
    <h1>Math Quizzes</h1>
    <%= link_to 'Generate', 'quizzes/random' %>
  </div>

  <div class="section">
    <h1>Math Quizzes with Binary & Hex</h1>
    <h3>(e.g. 0100101, 0xFF03DA)</h3>
    <%= link_to 'Generate', 'quizzes-bin-hex/random' %>
  </div>

  <div class="section">
    <h1>Year 2 Math Quizzes - Multiplication</h1>
    <%= link_to 'Generate', 'quizzes-year2-times/random' %>
  </div>

  <div class="section">
    <h1>Year 1 Math Quizzes</h1>
    <%= link_to 'Generate', 'quizzes-year1/random' %>
  </div>

  <div class="section">
    <h1>Kindergarten Math Quizzes</h1>
    <%= link_to 'Generate', 'quizzes-kinder/random' %>
  </div>

  <div class="section">
    <h1>Pre-K Math Quizzes</h1>
    <%= link_to 'Generate', 'quizzes-summer/random' %>
  </div>
</div>